html, body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    scroll-behavior: smooth;
}

#nav-button {
    background-color: #7FC0FF;
    opacity: .6;
    outline: none;
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 9999;
}
    #nav-button i {
        font-size: 50px;
    }

    #menu {
        padding: 0;
        position: absolute;
        left: 15px;
        top: 80px;
        background-color: white;
        list-style: none;
        z-index: 9998;
        display: none;
    }

    #menu li a:hover {
        text-decoration: none;
    }

    #menu li a {
        font-size: 50px;
        color: black;
    }

    #header {
        background-image: url("../img/holographic-interface.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;

        height: 100vh;

    }

    #header h1 {
        position: relative;
        text-align: center;
        font-size: 100px;
        color: #7FC0FF;
        opacity: .6;
        animation: hovering 1s linear 0s infinite alternate forwards;
    }

    @keyframes hovering {
        from {
            top: 100px;
        } to {
            top: 80px;
        }
    }

    #meet-the-team {
        margin-top: 20px;
    }

    #meet-the-team h1 {
        width: 100%;
        text-align: center;
        font-size: 40px;
    }

    #meet-the-team .card-title {
        font-size: 25px;
    }

    #meet-the-team .card {
        text-align: center;
    }

    #meet-the-team .card img {
        height: 100%;
        border-radius: 50%;
    }